<div class="container mt-5 p-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="p-3">

                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                    <div class="mb-3">
                        <label for="userName">Username</label>
                        <input type="text" class="form-control" ngModel name="userName" id="userName" placeholder="username">
                    </div>
                    <div class="mb-2">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" ngModel name="password" id="password" placeholder="*******">
                    </div>
                    <input type="submit" class="btn btn-outline-primary" value="Login">
                </form>
            </div>
        </div>
    </div>
    
</div>